[Desktop Entry]
Encoding=UTF-8
Name=Basic Image Completion Filter
Name[el]=Φίλτρο βασικής συμπλήρωσης εικόνας
Name[es]=Filtro de completado de imagen básico
Name[et]=Põhiline pilditäiendamise filter
Name[fr]=Filtre de complètement d'image basique
Name[ga]=Scagaire Bunúsach Comhlánaithe Íomhá
Name[gl]=Filtro básico de completado da imaxe
Name[km]=តម្រង​បញ្ចប់​រូបភាព​ជា​មូលដ្ឋាន
Name[nds]=Eenfach Bild-Kompletteer-Filter
Name[nl]=Basis afbeeldingsafmaakfilter
Name[pt]=Filtro de Completação Básica da Imagem
Name[pt_BR]=Filtro de Complemento Básico da Imagem
Name[sv]=Grundläggande bildkompletteringsfilter
Name[tr]=Temel Resim Tamamlama Süzgeci
Name[uk]=Простий фільтр доповнення зображення
Name[x-test]=xxBasic Image Completion Filterxx
Comment=Completes the selected pixels in an image.
Comment[es]=Completa los puntos seleccionados en una imagen.
Comment[et]=Täiendab pildi valitud piksleid.
Comment[fr]=Rempli les pixels sélectionnés dans une image
Comment[ga]=Comhlánaigh na picteilíní roghnaithe in íomhá.
Comment[pt]=Completa os pixels seleccionados numa imagem.
Comment[pt_BR]=Completa os pixels seleccionados numa imagem.
Comment[sv]=Kompletterar markerade bildpunkter i en bild.
Comment[tr]=Bir resimdeki seçili pikselleri tamamlar.
Comment[uk]=Заповнення вибрані пікселі зображення.
Comment[x-test]=xxCompletes the selected pixels in an image.xx
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritaImageComplete
X-Krita-Version=2
